.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 360px;
  width: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 15%;
  text-align: center;
}