@import './src/common/styles/mixins';

.main {
	@include flex(center, row, center);

	.content {
		@include flex(space-between, column, center);
		height: 408px;
		width: 413px;
		margin-top: 60px;
		.button {
			background: #fcfcfc;
			border: none;
			border-radius: 30px;
			box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
			margin-top: 8px;
			margin-bottom: 30px;
			color: #000;
			text-transform: none;
			font-size: 16px
		}
		.name {
			margin-top: 20px;
			@include flex(center, row, center);
			height: 75px;
		}
		.editForm {
			@include flex(center, row, center);
			height: 100%;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}
