.nav {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 20px;
    gap: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    margin: 10px;
    color: gold;
    font-size: 30px;
    border: gold 1px solid;
    border-radius: 10px;
    padding: 0 20px 10px;
}